
<div class="container">
    
    <div class="form-group">
      <label class="col-form-label" for="searchData">Search Data</label>
      <input type="text" class="form-control" id="searchData" placeholder="Search" [(ngModel)]="searchFilter">
    </div>
  

  <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="sort('id')">#</th>
          <th (click)="sort('name')">Name</th>
          <th (click)="sort('employeeCode')">Employee Code</th>
          <th (click)="sort('age')">Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async | orderBy: key : reverse| filter:searchFilter | paginate: { itemsPerPage: 5, currentPage: p }">
          <td >{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.employeeCode }}</td>
          <td>{{ employee.age }}</td>
        </tr>
      </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
</div>