<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section id="about">
                    <p>Hi this is empty page please <a href="" (click)="sendMeHome()"><strong>Take me back</strong></a></p>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore recusandae cum voluptates quibusdam, repellendus voluptatum, similique aliquid velit at non quas dolorum laboriosam molestiae et voluptate pariatur. Cumque veritatis praesentium ut incidunt eos! Iusto quos quam, vel enim laudantium commodi ullam sunt, necessitatibus illo officia rerum iste dolorum deleniti nemo, laborum doloremque! Eligendi molestiae neque nihil ex asperiores voluptatibus rerum maiores, iure, officiis veniam reprehenderit deleniti voluptatem minima totam facere alias, ea voluptatum nostrum repellat?</p>
        
                    <h2>Lorem, ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugit eum earum atque quos distinctio non est nisi vero nihil.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure odio fugiat quidem! Quam sapiente, deleniti animi suscipit iste sunt eligendi amet minus similique nobis, minima tempora, debitis dolorem assumenda est. Voluptas facere fuga labore commodi rem natus sit voluptatum soluta nobis iusto optio, dignissimos odio tempora architecto minima fugit! Eum consequatur nesciunt voluptatibus ratione iusto veniam numquam, eius magnam aperiam neque temporibus necessitatibus totam quo repellendus facilis, ipsum at impedit suscipit, molestiae autem vel voluptate. Nostrum magni repudiandae perspiciatis sequi animi laboriosam? Porro, exercitationem placeat nobis dolores maxime eaque dicta qui omnis laborum odio eveniet, adipisci iusto ipsa? Repudiandae, repellat?</p>
        
                    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, fugiat?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni modi labore sapiente, itaque iusto accusantium maxime quae reprehenderit aut doloremque, sequi impedit id facere incidunt officiis saepe ad aliquam recusandae.</p>
                    <ul>
                        <li><a href="#">Item1</a></li>
                        <li><a href="#">Item2</a></li>
                        <li><a href="#">Item3</a></li>
                        <li><a href="#">Item4</a></li>
                        <li><a href="#">Item5</a></li>
                    </ul>        
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, numquam!</h4>
            </section>
        </div>
    </div>
</div>
