$color-dark:#000;
$color-light:#FFF;

$color-primary:#17a2b8;
$color-primary-dark:#007388;
$color-primary-light:#60d4ea;

$color-secondary:#455a64;
$color-secondary-dark:#1c313a;
$color-secondary-light:#718792;
