
#http-fake{
    .http-fake{

        // get
        &__get{
            padding: 30px 0;
            height: 450px;

            &__result{
                margin: 30px 0;
                
                ul{
                    padding: 15px;
                    border-radius: 10px;
                    width: 100%;
                    max-width: 350px;                                
                    background: rgba(255, 255, 255, 0.3);
                    li{
                        padding: 5px 0;                        
                        margin-bottom: 10px;
                        border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
                        strong{
                            float: right;
                        }
                    }
                }
            }
            
        }


        // post



    }
}