@import '../../assets/scss/variables.scss';

.form-box{
    background: rgba(255,255,255,.3);
    padding:2em;
    min-height: 20em;

    &__header {
        text-align: center;
        margin: 0 0 1rem;
        color: $color-dark;
        padding: .5rem;
    }

    &__input{
        width: 100%;
        border: none;
        padding: .5rem;
        height: 2.75rem;
    }

    &__button{
        margin: .50rem 0;
        background: $color-secondary;
        border-radius: 0;
        color: #FFF;
        text-transform: uppercase;
    }

    &__list{
        &__item{
            cursor: pointer;
            padding: .5rem 1rem;
        }
    }
}