<section>
  <!-- container start -->
  <div class="container">

    <!-- form box start -->
    <div class="form-box">
      <div class="row">

        <!-- form section start -->
        <div class="col-md-4">
          <h4 class="form-box__header">Enter your text</h4>
          <form action="#" (keydown)="keyDown($event)">
            <div class="row no-gutters">
              <div class="col-12">
                <input type="text" class="form-box__input" name="item" placeholder="Angular is my goal.." [(ngModel)]='goalText' required>
              </div>
              <div class="col-12">
                <!-- <input type="submit" class="btn" [value]="btnText" (click)='addItem()'> (or) -->
                <button type="button" class="btn btn-block form-box__button" (click)='addItem()'>{{ btnText }}</button>
              </div>
            </div>
          </form>
        </div>
        <!-- form section end -->

        <!-- list section start -->
        <div class="col-md-4 offset-md-4 form-box__list">
          <h4 class="form-box__header">Your list ({{ itemCount }})</h4>
          <div class="alert alert-primary form-box__list__item" role="alert" *ngFor="let goal of goals; let i = index" (click)='removeItem(i)'>
            {{ goal }} 
            <span class="badge badge-light">{{ i+1 }}</span>
            <span class="close">&times;</span>
          </div>
        </div>
        <!-- list section end -->

      </div>
    </div>
    <!-- form box end -->

  </div>
  <!-- container end -->
</section>
